doctype html
html(ng-app='server-status-remake' ng-controller='main' ng-init='time_temp = "realtime"; time_load = "realtime"; renderChart("temp", "realtime"); renderChart("load", "realtime")')
    head
        title {{ temp }}&deg;C | {{ comp_name }}

        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')

        // Bootstrap
        link(rel='stylesheet' href='stylesheets/bootstrap.css')
        link(rel='stylesheet' href='stylesheets/bootswatch.css')
        link(rel='stylesheet' href='stylesheets/style.css')
    body
        div(class='container')
            div(class='main')
                h1 {{ comp_name }}

                p {{ uptime }}

            hr

            div(class='row')
                div(class='col-sm-6')
                    p(class='lead') Current temprature:&nbsp;
                        b {{ temp }}&deg;C
                    div(class='tempplot')
                    br
                    span(class='btn btn-default' ng-class="time_temp=='realtime' ? 'active' : ''" ng-click="time_temp = 'realtime'; renderChart('temp', 'realtime')") Realtime
                    span(class='btn btn-default' ng-class="time_temp=='minute' ? 'active' : ''" ng-click="time_temp = 'minute'; renderChart('temp', 'minute')") Minute
                    span(class='btn btn-default' ng-class="time_temp=='hour' ? 'active' : ''" ng-click="time_temp = 'hour'; renderChart('temp', 'hour')") Hour
                    span(class='btn btn-default' ng-class="time_temp=='day' ? 'active' : ''" ng-click="time_temp = 'day'; renderChart('temp', 'day')") Day
                div(class='col-sm-6')
                    p(class='lead') Current CPU Load:&nbsp;
                        b {{ load }}%
                    div(class='loadplot')
                    br
                    span(class='btn btn-default' ng-class="time_load=='realtime' ? 'active' : ''" ng-click="time_load = 'realtime'; renderChart('load', 'realtime')") Realtime
                    span(class='btn btn-default' ng-class="time_load=='minute' ? 'active' : ''" ng-click="time_load = 'minute'; renderChart('load', 'minute')") Minute
                    span(class='btn btn-default' ng-class="time_load=='hour' ? 'active' : ''" ng-click="time_load = 'hour'; renderChart('load', 'hour')") Hour
                    span(class='btn btn-default' ng-class="time_load=='day' ? 'active' : ''" ng-click="time_load = 'day'; renderChart('load', 'day')") Day
            hr
            div(class='row')
                div(class='col-sm-8')
                    h2 Drive stats
                    table(class='table table-hover')
                        thead
                            tr
                                th Partition
                                th Total
                                th Used
                                th Available
                                th Percentage Used
                                th Mount Point
                        tbody
                            tr(ng-repeat='drive in drives')
                                td(ng-repeat='value in drive')
                                    span {{ value }}


                div(class='col-sm-4')
                    h2 Network
                    span(class='glyphicon glyphicon-upload')
                    span {{ up }}
                    br
                    span(class='glyphicon glyphicon-download')
                    span {{ down }}

            //- TODO: Add row and column for table with memory data
            //- Use ng-repeat to display the values; looks cooler

            footer(class='footer')
                hr
                p Last pulled:&nbsp;
                    b {{ pulled }}

        // JavaScripts
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js')
        script(src="http://code.highcharts.com/highcharts.js")
        script(src="http://code.highcharts.com/modules/exporting.js")
        script(src='scripts/ang.js')
