doctype html
html(ng-app='server-status-remake' ng-controller='main' ng-init='time_temp = "realtime"; time_load = "realtime"; renderChart("temp", "realtime"); renderChart("load", "realtime")')
    head
        title {{ temp }}&deg;C | {{ comp_name }}

        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')

        // Bootstrap
        link(rel='stylesheet' href='stylesheets/bootstrap.css')
        link(rel='stylesheet' href='stylesheets/bootswatch.css')
        link(rel='stylesheet' href='stylesheets/style.css')
    body
        div(class='container')
            div(class='main')
                h1 {{ comp_name }}

                p {{ uptime }}

            hr

            div(class='row')
                div(class='col-sm-6')
                    p(class='lead') Current temprature:&nbsp;
                        b {{ temp }}&deg;C
                    div(class='tempplot')
                    br
                    span(class='btn btn-default' ng-class="time_temp=='realtime' ? 'active' : ''" ng-click="time_temp = 'realtime'; renderChart('temp', 'realtime')") Realtime
                    span(class='btn btn-default' ng-class="time_temp=='minute' ? 'active' : ''" ng-click="time_temp = 'minute'; renderChart('temp', 'minute')") Minute
                    span(class='btn btn-default' ng-class="time_temp=='hour' ? 'active' : ''" ng-click="time_temp = 'hour'; renderChart('temp', 'hour')") Hour
                    span(class='btn btn-default' ng-class="time_temp=='day' ? 'active' : ''" ng-click="time_temp = 'day'; renderChart('temp', 'day')") Day
                div(class='col-sm-6')
                    p(class='lead') Current CPU Load:&nbsp;
                        b {{ load }}%
                    div(class='loadplot')
                    br
                    span(class='btn btn-default' ng-class="time_load=='realtime' ? 'active' : ''" ng-click="time_load = 'realtime'; renderChart('load', 'realtime')") Realtime
                    span(class='btn btn-default' ng-class="time_load=='minute' ? 'active' : ''" ng-click="time_load = 'minute'; renderChart('load', 'minute')") Minute
                    span(class='btn btn-default' ng-class="time_load=='hour' ? 'active' : ''" ng-click="time_load = 'hour'; renderChart('load', 'hour')") Hour
                    span(class='btn btn-default' ng-class="time_load=='day' ? 'active' : ''" ng-click="time_load = 'day'; renderChart('load', 'day')") Day
            hr
            div(class='row')
                div(class='col-sm-8')
                    h2 Drive stats
                    table(class='table table-hover')
                        thead
                            tr
                                th Partition
                                th Total
                                th Used
                                th Available
                                th Percentage Used
                                th Mount Point
                        tbody
                            tr(ng-repeat='drive in drives')
                                td(ng-repeat='value in drive')
                                    span {{ value }}


                div(class='col-sm-4')
                    h2 Progress bars
                    hr
                    p(class='small') CPU Load
                    div(class='progress')
                        div(class='progress-bar-striped progress-bar active' aria-valuemin='0' aria-valuemax='100' aria-valuenow='{{ load }}' style='width:{{load}}%;' ng-class='load <= 25 ? "progress-bar-success" : (load >= 70 ? "progress-bar-danger" : "progress-bar-warning")')
                            span {{ load }}%
                    p(class='small') Temperature
                    div(class='progress')
                        div(class='progress-bar-striped progress-bar active' aria-valuemin='0' aria-valuemax='100' aria-valuenow='{{ temp }}' style='width:{{temp}}%' ng-class='temp <= 30 ? "progress-bar-success" : (temp >= 60 ? "progress-bar-danger" : "progress-bar-warning")')
                            span {{ temp }}&deg;C
                    p(class='small') swap/cache
                    div(class='progress')
                        div(class='progress-bar-striped progress-bar active' aria-valuemin='0' aria-valuemax='{{mem[12]+mem[11]}}' aria-valuenow='{{ mem[11] }}' style='width:{{mem[11]/mem[12]*100}}%' ng-class='mem[11]/mem[12]*100 <= 20 ? "progress-bar-success" : (mem[11]/mem[12]*100 >= 60 ? "progress-bar-danger" : "progress-bar-warning")')
                            span {{ mem[7] }}&nbsp;MB

            hr

            div(class='row')
                div(class='col-sm-8')
                    h2 Memory stats
                    table(class='table')
                        thead
                            tr
                                th Type
                                th Total
                                th Used
                                th Free
                                th Shared
                                th Buffers
                                th Cached
                        tbody
                            tr
                                th Memory
                                td {{ mem[0] / 1000000 }} GB
                                td {{ mem[1] / 1000000 }} GB
                                td {{ mem[2] / 1000000 }} GB
                                td {{ mem[3] / 1000 }} MB
                                td {{ mem[4] / 1000000 }} GB
                                td {{ mem[5] / 1000000 }} GB
                            tr
                                th -/+ buffers/cache
                                td -
                                td {{ mem[6] / 1000 }} MB
                                td {{ mem[7] / 1000000 }} GB
                                td -
                                td -
                                td -
                            tr
                                th Swap
                                td {{ mem[8] / 1}} B
                                td {{ mem[9] / 1}} B
                                td {{ mem[10] / 1}} B
                                td -
                                td -
                                td -

                div(class='col-sm-4')
                    h2 Network
                    span(class='glyphicon glyphicon-upload')
                    span {{ up }}
                    br
                    span(class='glyphicon glyphicon-download')
                    span {{ down }}

            //- TODO: Add row and column for table with memory data
            //- Use ng-repeat to display the values; looks cooler

            footer(class='footer')
                hr
                p Last pulled:&nbsp;
                    b {{ pulled }}

        // JavaScripts
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js')
        script(src="http://code.highcharts.com/highcharts.js")
        script(src="http://code.highcharts.com/modules/exporting.js")
        script(src='scripts/ang.js')
