doctype html
html(ng-app='server-status-remake' ng-controller='main' ng-init='temp_chart = "Temperature-' + images[0] + '.png"; load_chart = "CPULoad-' + images[0] + '.png"')
    head
        title {{ temp }}&deg;C | {{ comp_name }}

        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')

        // Bootstrap
        link(rel='stylesheet' href='stylesheets/bootstrap.css')
        link(rel='stylesheet' href='stylesheets/bootswatch.css')
        link(rel='stylesheet' href='stylesheets/style.css')
    body
        div.container
            div.main
                h1 {{ comp_name }}
                p {{ uptime }}

            hr

            div.row
                div.col-sm-6
                    p.lead Current temprature:&nbsp;
                        b {{ temp }}&deg;C
                    div
                        img(ng-src='{{temp_chart}}' class='img img-responsive')
                    br
                    span.btn.btn-default(ng-class="temp_chart=='Temperature-' + images[0] + '.png' ? 'active' : ''" ng-click="temp_chart = 'Temperature-' + images[0] + '.png'") {{ images[0] }}
                    span.btn.btn-default(ng-class="temp_chart=='Temperature-' + images[1] + '.png' ? 'active' : ''" ng-click="temp_chart = 'Temperature-' + images[1] + '.png'") {{ images[1] }}
                    span.btn.btn-default(ng-class="temp_chart=='Temperature-' + images[2] + '.png' ? 'active' : ''" ng-click="temp_chart = 'Temperature-' + images[2] + '.png'") {{ images[2] }}
                    span.btn.btn-default(ng-class="temp_chart=='Temperature-' + images[3] + '.png' ? 'active' : ''" ng-click="temp_chart = 'Temperature-' + images[3] + '.png'") {{ images[3] }}
                div.col-sm-6
                    p(class='lead') Current CPU Load:&nbsp;
                        b {{ load }}%
                    div
                        img.img.img-responsive(ng-src='{{load_chart}}')
                    br
                    span.btn.btn-default(ng-class="load_chart=='CPULoad-' + images[0] + '.png' ? 'active' : ''" ng-click="load_chart = 'CPULoad-' + images[0] + '.png") {{ images[0] }}
                    span.btn.btn-default(ng-class="load_chart=='CPULoad-' + images[0] + '.png' ? 'active' : ''" ng-click="load_chart = 'CPULoad-' + images[1] + '.png") {{ images[1] }}
                    span.btn.btn-default(ng-class="load_chart=='CPULoad-' + images[0] + '.png' ? 'active' : ''" ng-click="load_chart = 'CPULoad-' + images[2] + '.png") {{ images[2] }}
                    span.btn.btn-default(ng-class="load_chart=='CPULoad-' + images[0] + '.png' ? 'active' : ''" ng-click="load_chart = 'CPULoad-' + images[3] + '.png") {{ images[3] }}

            div.row
                div.col-xs-12
                    hr
                    span.btn.btn-default(ng-click='refresh_graphs()') Create new graphs
                    span.btn.btn-default(ng-click='temp_chart = temp_chart;load_chart = load_chart') Reload graphs

            hr
            div.row
                div.col-sm-8
                    h2 Drive stats
                    table.table.table-hover
                        thead
                            tr
                                th Partition
                                th Total
                                th Used
                                th Available
                                th Percentage Used
                                th Mount Point
                        tbody
                            tr(ng-repeat='drive in drives')
                                td(ng-repeat='value in drive')
                                    span {{ value }}


                div.col-sm-4
                    h2 Progress bars
                    hr
                    p.small CPU Load
                    div.progress
                        div.progress-bar-striped.progress-bar.active(aria-valuemin='0' aria-valuemax='100' aria-valuenow='{{ load }}' style='width:{{load}}%;' ng-class='load <= 25 ? "progress-bar-success" : (load >= 70 ? "progress-bar-danger" : "progress-bar-warning")')
                            span {{ load }}%
                    p.small Used memory
                    div.progress
                        div.progress-bar-striped.progress-bar.active(aria-valuemin='0' aria-valuemax='{{mem[12]+mem[11]}}' aria-valuenow='{{ mem[11] }}' style='width:{{mem[11]/mem[12]*100}}%' ng-class='mem[11]/mem[12]*100 <= 20 ? "progress-bar-success" : (mem[11]/mem[12]*100 >= 60 ? "progress-bar-danger" : "progress-bar-warning")')
                            span {{ mem[6] }}&nbsp;MB

            hr

            div.row
                div.col-sm-8
                    h2 Memory stats
                    table.table
                        thead
                            tr
                                th Type
                                th Total
                                th Used
                                th Free
                                th Shared
                                th Buffers
                                th Cached
                        tbody
                            tr
                                th Memory
                                td {{ mem[0] }} GB
                                td {{ mem[1] }} GB
                                td {{ mem[2] }} GB
                                td {{ mem[3] }} MB
                                td {{ mem[4] }} GB
                                td {{ mem[5] }} GB
                            tr
                                th -/+ buffers/cache
                                td -
                                td {{ mem[6] }} MB
                                td {{ mem[7] }} GB
                                td -
                                td -
                                td -
                            tr
                                th Swap
                                td {{ mem[8] }} B
                                td {{ mem[9] }} B
                                td {{ mem[10] }} B
                                td -
                                td -
                                td -

                div.col-sm-4
                    h2 Network
                    span.glyphicon.glyphicon-upload
                    span {{ up }}
                    br
                    span.glyphicon.glyphicon-download
                    span {{ down }}

            footer.footer
                hr
                p Last pulled:&nbsp;
                    b {{ pulled }}

        // JavaScripts
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js')
        script(src='scripts/ang.js')
